python-dotenv
pytest
hypothesis
streamlit
streamlit-autorefresh
kiteconnect
tensorflow
gymnasium
flask
openpyxl
stable-baselines3
requests
xgboost
scikit-learn
pyarrow
holidays
plotly
statsmodels
upstox-python-sdk
protobuf
websockets
zstandard
PyYAML
